<h1 style='margin-top:100px;font-size:2rem'>Our official pizza directory</h1>
<%=link_to "Add New Pizza & Restaurant", new_restaurant_pizza_path%>

<% @pizzas.each do |pizza| %>
  <h1 style='font-size:1.5rem;margin-top:50px'>Pizza Name:
      <%= pizza.name %>
      <p>Restaurants We're in: <%=pizza.restaurant_pizzas.count%></p>
  </h1>
  <p>Ingredients: <%= pizza.ingredients %></p>

<% end %>

<br>
