<h1><%= @pizza.name %> Pizza</h1>

<p>This pizza contains the following ingredients</p>
 <p><%= @pizza.ingredients %></p>
<p>Number of Restarants that carry this Pizza: <%= @pizza.restaurants.count %></p>
