<h1><%= @restaurants.name %></h1>

<h2>Our Pizzas:</h2>
<% @restaurants.pizzas.each do |p|%>
<P><%=link_to p.name, pizza_path(p.id)%></P>
<%end%>

<h3>We're Affordable!</h3>
<P>Our average pizza price is: $<%=@restaurants.avg_price%></P>
