<h1>The World Famous <%= @restaurants.name %> Restaurant</h1>

<h2> Pizzas:</h2>
<%@restaurants.pizzas.each do |p|%>
<p><%=link_to p.name, pizza_path(p.id)%></p>
<%end%>

<h3>We're Affordable!</h3>
<P>Our average pizza price is: $<%=@restaurants.avg_price%></P>
