<h1> Restaurant info:</h1>>

Restaurant Name:  <%= @restaurant.name %><br>
Restaurant Address:  <%= @restaurant.address %><br>
<br>
Pizza Types:

<% @restaurant.pizzas.each do |pizza| %>
<p><%= pizza.name %></p>
<% end %>

